<%- include("../layouts/header", {title: 'Lista de Pedidos'}) %>

<%- include("../layouts/menu") %>

<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title size-4">Listas de Pedidos de <%= user.nome %></h1>
        </div>
      </div>

      <div class="columns is-multiline">
        <% pedidos.forEach(pedido =>{ %>
        <div class="column is-one-quarter">
          <div class="card has-background-white-ter">
            <div class="card-content">
              <p class="subtitle is-size-5">
                Pedido Nº <%= pedido.id %>
              </p>
              <p class="subtitle is-size-5">
                Status: <%= pedido.status %>
              </p>
              <p class="subtitle is-size-5">
                Valor: <%= pedido.valor %>
              </p>
              <p class="subtitle is-size-6">
                Quantidade: <%= pedido.produtos.length %> produtos
              </p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  <a href="/pedidos/<%= pedido.pessoaId %>/<%= pedido.id %>">Ver</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="/pedidos/<%= pedido.pessoaId %>/<%= pedido.id %>/update">Editar</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="/pedidos/<%= pedido.pessoaId %>/<%= pedido.id %>?_method=delete" class="has-text-danger">Remover</a>
                </span>
              </p>
            </footer>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

  <%- include("../layouts/footer") %>