<%- include("../layouts/header", {title: 'Lista de Tickets'}) %>

<%- include("../layouts/menu") %>

<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title size-4">Listas de Tickets de <%= user.nome %></h1>
        </div>
      </div>

      <div class="columns is-multiline">
        <% ticket.forEach(ticket =>{ %>
        <div class="column is-one-quarter">
          <div class="card has-background-white-ter">
            <div class="card-content">
              <p class="subtitle is-size-5">
                Ticket Nº <%= ticket.id %>
              </p>
              <p class="subtitle is-size-5">
                Status: <%= ticket.status %>
              </p>
              <p class="subtitle is-size-5"> **************
                Valor: <%= ticket.valor %>
              </p>
              <p class="subtitle is-size-6">
                Quantidade: <%= ticket.length %>
              </p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  <a href="/tickets/<%= ticket.pessoaId %>/<%= ticket.id %>">Ver</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="/tickets/<%= ticket.pessoaId %>/<%= ticket.id %>/update">Editar</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  <a href="/tickets/<%= ticket.pessoaId %>/<%= ticket.id %>?_method=delete" class="has-text-danger">Remover</a>
                </span>
              </p>
            </footer>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

  <%- include("../layouts/footer") %>