 <%- include("../layouts/header", {title: 'Início'}) %>

 <%- include("../layouts/menu") %>

 <section class="bg-[url('/img/background.png')] h-screen w-screen bg-cover">
  <div class="container pt-20 mx-auto my-auto">
          <% if(user){ %>
            <div class="column  bg-white bg-opacity-20 rounded-2xl text-center py-12 font-serif w-1/3 mx-auto">
              <h1 class="text-white text-5xl pt-10">
                Bem vindo <%= user.nome %>
              </h1>
                <p class="text-3xl py-24 text-white">Visualize e gerencie seus tickets.</p>
                <a href="/novoticket/novo %>" class="bg-blue-950 p-3 rounded-xl text-2xl text-white" >Abrir ticket</a> 
                <a href="/ticket/<%= pessoaId %>" class="bg-blue-950 p-3 rounded-xl text-2xl text-white">Ver tickets</a>
            </div><% } else { %>
            <div class="column  bg-white bg-opacity-20 rounded-2xl text-center py-12 font-serif w-1/3 mx-auto">
              <h1 class="text-white text-6xl pt-10">
                FLASHDESK
              </h1> 
              <h2 class="text-white text-3xl pt-24 py-14">
                SISTEMA GESTOR DE CHAMADOS DE TI
              </h2>
              <% } %>
        </div>
      </div>
    </div>
  </section>
  
  
  

  <%- include("../layouts/footer") %>